.user-item {
  list-style: none;
  padding: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-item:hover {
  background: #f2f2f2;
}

.user-item-details {
  padding: 10px;
  flex-grow: 1;
  align-content: 'center';
}

.user-item-name {
  font-weight: bold;
  margin-bottom: 0;
}

.user-item-meta {
  color: rgba(0, 0, 0, .40);
  text-transform: capitalize;
  font-style: italic;
}

.status-indicator {
  border-radius: 500rem;
  height: 10px;
  width: 10px;
}